#root {
  height: 100%;
  width: 100%;
}

.App {
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
}

.code {
  height: auto;
  width: 350px;
  margin: auto;
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
}
.inner-code {
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.image-div {
  width: 100%;
  height: 310px;
  border-radius: 15px;
}

.image {
  width: 100%;
  border-radius: 12px;
}

.improve {
  font-size: 24px;
  margin-left: 6px;
  margin-right: 6px;
  margin-bottom: 0px;
}

.scan {
  font-size: 15px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 25px;
}
